PAYROLL_DATABASE_URL=mysql+pymysql://payroll_user:change-me@server.mysql.database.azure.com:3306/unisan_db?charset=utf8mb4
PAYROLL_DB_SSL_CA=
PAYROLL_JWT_SECRET=replace-with-at-least-32-random-characters
PAYROLL_ACCESS_TOKEN_MINUTES=480
PAYROLL_BOOTSTRAP_ADMIN_USERNAME=admin
PAYROLL_BOOTSTRAP_ADMIN_PASSWORD=replace-this-password
PAYROLL_BOOTSTRAP_ADMIN_NAME=Administrador
PAYROLL_CORS_ORIGINS=http://localhost:5500,http://127.0.0.1:5500
PAYROLL_SMTP_HOST=mail.unisan.cl
PAYROLL_SMTP_PORT=587
PAYROLL_SMTP_USERNAME=rrhh@unisan.cl
PAYROLL_SMTP_PASSWORD=replace-with-an-app-secret
PAYROLL_SMTP_FROM=rrhh@unisan.cl
PAYROLL_SMTP_TEST_RECIPIENT=sjorquera@unisan.cl
